*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #3E8989;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap:1.5vmin;
    align-items: center;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 2rem rgb(0,0,0.1);
    background-color: #ffffc7;
    
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #1A181B;
    color: white;
    border-radius: 1rem;
    border: none;
}
.new_game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #1A181B;
    color: white;
    border-radius: 1rem;
    border: none;
        
}
.winner_mas{
    font-size: 5vmin;
    color:#ffffc7 ;
}
.div_cont{
    margin-bottom: 1rem;
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.hide{
    display: none;
}
.cross{
    background-color: yellow;
    font-size: 8vmin;
    color: rgb(181, 39, 39);
    font-weight: 700;
}
.zero{
    background-color: rgb(7, 35, 214);
    font-size: 8vmin;
    color: white;
    font-weight: 700;
}